{{- /* Fiche ressource, format lien épuré. Parametres : title, url, type (optionnel). Corps = description (Markdown, optionnel). */ -}}
{{- $url := .Get "url" -}}
{{- $title := .Get "title" | default $url -}}
{{- $type := .Get "type" -}}
{{- $external := and $url (not (hasPrefix $url "/")) -}}
<div class="resource">
    {{- if $url -}}
    <a class="resource__link" href="{{ $url }}"{{ if $external }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ $title }}</a>
    {{- else -}}
    <span class="resource__link">{{ $title }}</span>
    {{- end -}}
    {{- with .Inner }}<span class="resource__desc">{{ . | markdownify }}</span>{{ end -}}
    {{- with $type }}<span class="resource__type">{{ . }}</span>{{ end -}}
</div>
